{namespace pdc=Netcreators\NcgovPdc\ViewHelpers}
{namespace lib=Netcreators\NcExtbaseLib\ViewHelpers}

<f:if condition="{product}">
	<f:then>

		<div class="csc-header csc-header-n2">
			<h1>{product.name}</h1>
		</div>

		<f:if condition="{product.shortDescription}">
			<div id="pdcsamenvatting">
				<h3><f:translate key="product_detail_summary">Samenvatting</f:translate></h3>
				<div class="pdc-product-detail-shortdescription">
					<lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.shortDescription}</lib:replaceContent>
				</div>
			</div>
		</f:if>

		<lib:tabControl>
			<lib:tabControl.tab tabClass="tab-aanpak" condition="{product.hasFullApplyInfo}" label="{f:translate(key:'product_detail_process', default:'Gang van zaken')}">
				<h3><f:translate key="product_detail_process">Gang van zaken</f:translate></h3>
				<div class="pdc-product-detail-fullapplyinfo">
					<f:format.html><lib:replaceContent searchExpression="{settings.replaceContent.markers.searchExpression}" wrapOrReplace="{settings.replaceContent.markers.wrapOrReplace}">{product.fullApplyInfo}</lib:replaceContent></f:format.html>
				</div>
			</lib:tabControl.tab>
			<lib:tabControl.tab tabClass="tab-voorwaarden" condition="{product.hasFullTerms}" label="{f:translate(key:'product_detail_terms', default:'Voorwaarden')}">
				<h3><f:translate key="product_detail_terms">Voorwaarden</f:translate></h3>
				<div class="pdc-product-detail-fullterms">
					<f:format.html><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.fullTerms}</lib:replaceContent></f:format.html>
				</div>
			</lib:tabControl.tab>
			<lib:tabControl.tab tabClass="tab-meenemen" condition="{product.hasFullRequiredForApplication}" label="{f:translate(key:'product_detail_application_requirements', default:'Meenemen')}">
				<h3><f:translate key="product_detail_application_requirements">Meenemen</f:translate></h3>
				<div class="pdc-product-detail-fullrequiredforapp">
					<f:format.html><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.fullRequiredForApplication}</lib:replaceContent></f:format.html>
				</div>
			</lib:tabControl.tab>
			<lib:tabControl.tab tabClass="tab-background" condition="{product.extraInfo}" label="{f:translate(key:'product_detail_background', default:'Achtergrond')}">
				<h3><f:translate key="product_detail_background">Achtergrond</f:translate></h3>
				<div class="pdc-product-detail-background">
					<f:format.html><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.extraInfo}</lib:replaceContent></f:format.html>
				</div>
			</lib:tabControl.tab>
			<lib:tabControl.tab tabClass="tab-meer" condition="{combinedProperties.other}" label="{f:translate(key:'product_detail_extra_product_info', default:'Overig')}">
				<f:if condition="{product.postExtraInfo}">
					<h3><f:translate key="product_detail_tips">Tips</f:translate></h3>
					<div class="pdc-product-detail-tips">
						<f:format.html><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.postExtraInfo}</lib:replaceContent></f:format.html>
					</div>
				</f:if>
				<f:if condition="{product.preContactInfo}">
					<h3><f:translate key="product_detail_references">Verwijzingen</f:translate></h3>
					<div class="pdc-product-detail-contactinfo">
						<f:format.html><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.preContactInfo}</lib:replaceContent></f:format.html>
					</div>
				</f:if>
				<f:if condition="{product.fullLegalBasis}">
					<h3><f:translate key="product_detail_legislation">Wetgeving</f:translate></h3>
					<div class="pdc-product-detail-fulllegalbasis">
						<f:format.html><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.fullLegalBasis}</lib:replaceContent></f:format.html>
					</div>
				</f:if>
				<f:if condition="{product.attachments}">
					<div class="pdc-subheader pdc-product pdc-detail-internal">
						<h4><f:translate key="product_detail_attachments">Bijlagen</f:translate></h4>
					</div>
					<ul>
						<f:for each="{product.attachments}" as="attachment">
							<li>
								<a href="{attachment.url}">{attachment.name}</a>
							</li>
						</f:for>
					</ul>
				</f:if>
			</lib:tabControl.tab>
			<lib:tabControl.tab tabClass="tab-kcc" condition="{userIsLoggedIn}" label="KCC">
				<h3>KCC</h3>
				<f:if condition="{product.deskMemo}">
					<div class="pdc-subheader pdc-product pdc-detail-internal">
						<h4><f:translate key="product_detail_working_instructions">Werkinstructies</f:translate></h4>
					</div>
					<div class="pdc-product-detail-fullextrainfo">
						<f:format.html><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.deskMemo}</lib:replaceContent></f:format.html>
					</div>
				</f:if>
			</lib:tabControl.tab>
		</lib:tabControl>
		<f:if condition="{product.owmsCoreModified}">
			<div class="pdc-product-detail-lastmodified">
				<f:translate key="modified">Bijgewerkt</f:translate>: <f:format.date format="d-m-Y">{product.owmsCoreModified}</f:format.date>
			</div>
		</f:if>

	</f:then>
	<f:else><f:translate key="product_detail_product_not_found">Product niet gevonden.</f:translate></f:else>
</f:if>