{namespace pdc=Netcreators\NcgovPdc\ViewHelpers}
{namespace lib=Netcreators\NcExtbaseLib\ViewHelpers}

<f:comment>In case you find this in the fileadmin folder tree: This is template Product/Detail.sdu.html (not Product/Detail.html).</f:comment>

<f:if condition="{product}">
<f:then>

<f:if condition="{availableUsers}">
    <h4><f:translate key="product_detail_contact_persons">Contactpersonen</f:translate></h4>
    <f:for each="{availableUsers}" as="availableUser">
        <f:image src="{availableUser.special.pdc_status_icon}" alt="{availableUser.special.pdc_status_description}" />
        <f:for each="{availableUser.data}" as="value">
            {value}
        </f:for>
    </f:for>
</f:if>

<h2><pdc:faqContent><f:format.html>{product.name}</f:format.html></pdc:faqContent></h2>

<f:if condition="{product.shortDescription}">
    <div class="pdc-subheader pdc-product pdc-product-summary">
        <h3><f:translate key="product_detail_summary">Samenvatting</f:translate></h3>
    </div>
    <div class="pdc-content pdc-product">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE_pdc"><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.shortDescription}</lib:replaceContent></f:format.html>
    </div>
</f:if>

<lib:tabControl>
<lib:tabControl.tab condition="{combinedProperties.description}" label="{f:translate(key:'product_detail_description', default:'Beschrijving')}">
    <h3 class="pdc-subheader pdc-product pdc-tab-1"><f:translate key="product_detail_description">Beschrijving</f:translate></h3>
    <div class="pdc-content pdc-product pdc-product-detail-tab-1">
        <f:if condition="{product.image}">
            <div class="pdc-product-detail-image"><f:image src="{product.image}" maxWidth="{maxWidth}" maxHeight="{maxHeight}" alt="Product image" /></div>
        </f:if>
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE_pdc"><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.fullDescription}</lib:replaceContent></f:format.html>
        <f:if condition="{product.hasFullTerms}">
            <div class="pdc-subheader pdc-product pdc-detail-notice">
                <h4><f:translate key="product_detail_notice">Let op</f:translate></h4>
            </div>
            <div class="pdc-content pdc-product pdc-product-detail-notice">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE_pdc"><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.fullTerms}</lib:replaceContent></f:format.html>
            </div>
        </f:if>
        <f:if condition="{product.referenceForms}">
            <div class="pdc-subheader pdc-product pdc-detail-forms">
            <h4 class="pdc-subheader pdc-product pdc-tab-1"><f:translate key="product_detail_forms">Formulieren</f:translate></h4>
            </div>
            <ul class="pdc-content pdc-product pdc-product-detail-forms">
                <f:for each="{product.referenceForms}" as="referenceLink">
                    <f:if condition="{referenceLink.isValid}">
                        <li><a class="pdc-link-form pdc-link" href="{referenceLink.linkUri}" title="{referenceLink.title}">{referenceLink.name}</a></li>
                    </f:if>
                </f:for>
            </ul>
        </f:if>
    </div>
</lib:tabControl.tab>
<lib:tabControl.tab condition="{product.hasFullRequiredForApplication}" label="{f:translate(key:'product_detail_terms', default:'Voorwaarden')}">
    <h3 class="pdc-subheader pdc-product pdc-tab-2"><f:translate key="product_detail_terms">Voorwaarden</f:translate></h3>
    <div class="pdc-content pdc-product pdc-product-detail-tab-2">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE_pdc"><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.fullRequiredForApplication}</lib:replaceContent></f:format.html>
    </div>
</lib:tabControl.tab>
<lib:tabControl.tab condition="{product.hasFullExtraInfo}" label="{f:translate(key:'product_detail_approach', default:'Aanpak')}">
    <h3 class="pdc-subheader pdc-product pdc-tab-3"><f:translate key="product_detail_approach">Aanpak</f:translate></h3>
    <div class="pdc-content pdc-product pdc-product-detail-tab-3">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE_pdc"><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.fullExtraInfo}</lib:replaceContent></f:format.html>
    </div>
    <h4 class="pdc-subheader pdc-product pdc-tab-3"><f:translate key="product_detail_request_online">Online Aanvragen</f:translate></h4>
    <div class="pdc-content pdc-product pdc-product-detail-tab-3">
        <f:translate key="product_detail_requesting_online_is">Online aanvragen is</f:translate>
        <f:if condition="{product.requestOnlineAvailable}">
            <f:then>
                <f:if condition="{product.requestOnlineWithDigidAvailable}"> <f:translate key="product_detail_requesting_online_with_digid">met DigiD</f:translate></f:if>
                <f:if condition="{product.scmetaRequestOnlineUrl}"><f:translate key="product_detail_requesting_online_possible_here">hier mogelijk:</f:translate>
                    <a href="{product.scmetaRequestOnlineUrl}">
                        <f:if condition="{product.customLabel}">
                            <f:then>
                                {product.customLabel}
                            </f:then>
                            <f:else>
                                <f:translate key="product_detail_request_now">Nu aanvragen</f:translate>
                            </f:else>
                        </f:if>
                    </a>.
                </f:if>
                <f:if condition="{product.requestOnlineWithSingleSignOnAvailable}"> <f:translate key="product_detail_requesting_online_single_sign_on">(eenmalig aanmelden)</f:translate></f:if>
            </f:then>
            <f:else>
                <f:translate key="product_detail_requesting_online_not_possible">niet mogelijk.</f:translate>
            </f:else>
        </f:if>
    </div>
</lib:tabControl.tab>
<lib:tabControl.tab condition="{product.hasFullContactInfo}" label="{f:translate(key:'product_detail_contact', default:'Contact')}">
    <h3 class="pdc-subheader pdc-product pdc-tab-4"><f:translate key="product_detail_contact">Contact</f:translate></h3>
    <div class="pdc-content pdc-product pdc-product-detail-tab-4">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE_pdc"><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.fullContactInfo}</lib:replaceContent></f:format.html>
        <f:if condition="{availableUsers}">
            <h4><f:translate key="product_detail_contact_persons">Contactpersonen</f:translate></h4>
            <f:for each="{availableUsers}" as="availableUser">
                <f:image src="{availableUser.special.pdc_status_icon}" alt="{availableUser.special.pdc_status_description}" />
                <f:for each="{availableUser.data}" as="value">
                    {value}
                </f:for>
            </f:for>
        </f:if>
    </div>
    <f:if condition="{product.contactAddresses}">
        <f:for each="{product.contactAddresses}" as="contactAddress">
            <f:render partial="ContactInstance" arguments="{contactInstance: contactAddress}" />
        </f:for>
    </f:if>
</lib:tabControl.tab>
<lib:tabControl.tab condition="{product.hasFullResult}" label="{f:translate(key:'product_detail_deadline', default:'Termijn')}">
    <h3 class="pdc-subheader pdc-product pdc-tab-5"><f:translate key="product_detail_deadline">Termijn</f:translate></h3>
    <div class="pdc-content pdc-product pdc-product-detail-tab-5">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE_pdc"><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.fullResult}</lib:replaceContent></f:format.html>
    </div>
</lib:tabControl.tab>
<lib:tabControl.tab condition="{product.hasFullAppeal}" label="{f:translate(key:'product_detail_objections_and_appeals', default:'Bezwaar en beroep')}">
    <h3 class="pdc-subheader pdc-product pdc-tab-6"><f:translate key="product_detail_objections_and_appeals">Bezwaar en beroep</f:translate></h3>
    <div class="pdc-content pdc-product pdc-product-detail-tab-6">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE_pdc"><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.fullAppeal}</lib:replaceContent></f:format.html>
    </div>
</lib:tabControl.tab>
<f:comment><!--
	<lib:tabControl.tab condition="{product.hasFullRequiredForApplication}" label="Bijzonderheden">
		<h3 class="pdc-subheader pdc-product pdc-tab-6">Bijzonderheden</h3>
		<div class="pdc-content pdc-product pdc-product-detail-tab-6">
			<f:format.html><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.fullRequiredForApplication}</lib:replaceContent></f:format.html>
		</div>
	</lib:tabControl.tab>
	--></f:comment>
<lib:tabControl.tab condition="{product.hasFullLegalBasis}" label="{f:translate(key:'product_detail_costs', default:'Kosten')}">
    <h3 class="pdc-subheader pdc-product pdc-tab-7"><f:translate key="product_detail_costs">Kosten</f:translate></h3>
    <div class="pdc-content pdc-product pdc-product-detail-tab-7">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE_pdc"><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.fullLegalBasis}</lib:replaceContent></f:format.html>
    </div>
</lib:tabControl.tab>
<lib:tabControl.tab condition="{combinedProperties.laws}" label="{f:translate(key:'product_detail_legislation', default:'Wetgeving')}">
    <h3 class="pdc-subheader pdc-product pdc-tab-8"><f:translate key="product_detail_legislation">Wetgeving</f:translate></h3>
    <f:if condition="{product.referenceLaws}">
        <div class="pdc-subheader pdc-product pdc-detail-laws">
            <h4><f:translate key="product_detail_national_laws">Landelijke wetten</f:translate></h4>
        </div>
        <ul class="pdc-content pdc-product pdc-product-detail-laws">
            <f:for each="{product.referenceLaws}" as="referenceLink">
                <f:if condition="{referenceLink.isValid}">
                    <li><a class="pdc-link-law pdc-link" href="{referenceLink.linkUri}" title="{referenceLink.title}">{referenceLink.name}</a></li>
                </f:if>
            </f:for>
        </ul>
    </f:if>
    <f:if condition="{product.referenceLocalLaws}">
        <div class="pdc-subheader pdc-product pdc-detail-local-laws">
            <h4><f:translate key="product_detail_local_legislation">Lokale regelgeving</f:translate></h4>
        </div>
        <ul class="pdc-content pdc-product pdc-product-detail-local-laws">
            <f:for each="{product.referenceLocalLaws}" as="referenceLink">
                <f:if condition="{referenceLink.isValid}">
                    <li><a class="pdc-link-local-law pdc-link" href="{referenceLink.linkUri}" title="{referenceLink.title}">{referenceLink.name}</a></li>
                </f:if>
            </f:for>
        </ul>
    </f:if>
</lib:tabControl.tab>
<lib:tabControl.tab condition="{combinedProperties.other}" label="{f:translate(key:'product_detail_extra_product_info', default:'Overig')}">
    <h3 class="pdc-subheader pdc-product pdc-tab-7"><f:translate key="product_detail_extra_product_info">Overig...</f:translate></h3>
    <f:if condition="{product.referenceExternal}">
        <div class="pdc-subheader pdc-product pdc-detail-reference-external">
            <h4><f:translate key="product_detail_references">Verwijzingen</f:translate></h4>
        </div>
        <ul class="pdc-content pdc-product pdc-product-detail-reference-external">
            <f:for each="{product.referenceExternal}" as="referenceLink">
                <f:if condition="{referenceLink.isValid}">
                    <li><a class="pdc-link-reference pdc-link" href="{referenceLink.linkUri}" title="{referenceLink.title}">{referenceLink.name}</a></li>
                </f:if>
            </f:for>
        </ul>
    </f:if>
    <f:if condition="{product.attachments}">
        <div class="pdc-subheader pdc-product pdc-detail-attachments">
            <h4><f:translate key="product_detail_attachments">Bijlagen</f:translate></h4>
        </div>
        <ul class="pdc-content pdc-product pdc-product-detail-attachments">
            <f:for each="{product.attachments}" as="attachment">
                <li>
                    <a class="pdc-link-attachment pdc-link" href="{attachment.url}">{attachment.name}</a>
                </li>
            </f:for>
        </ul>
    </f:if>
    <f:if condition="{product.requestForm}">
        <div class="pdc-subheader pdc-product pdc-product-detail-requestform">
            <h4><f:translate key="product_detail_request_form">Aanvraagformulier</f:translate></h4>
        </div>
        <a class="pdc-link-form pdc-link" href="{product.requestFormLinkUri}" title="{product.requestFormLinkTitle}">Naar het aanvraagformulier</a>
    </f:if>
    <f:if condition="{product.source}">
        <div class="pdc-subheader pdc-product pdc-product-detail-source">
            <h4><f:translate key="product_detail_source">Source</f:translate></h4>
        </div>
        <a class="pdc-link-source pdc-link " href="{product.sourceLinkUri}" title="{product.sourceLinkTitle}">Bekijk bron</a>
    </f:if>
    <f:if condition="{product.relatedRegulatory}">
        <div class="pdc-subheader pdc-product pdc-product-detail-source">
            <h4><f:translate key="product_detail_related_regulatory">Wettelijke grondslag</f:translate></h4>
        </div>
        <a class="pdc-link-regulatory pdc-link" href="{product.relatedRegulatoryLinkUri}" title="{product.relatedRegulatoryLinkTitle}">Bekijk wettelijke grondslag</a>
    </f:if>
</lib:tabControl.tab>
<lib:tabControl.tab condition="{userAuthorisedAndLoggedIn}" label="KCC">
    <h4><f:translate key="product_detail_underwater_answer">Onderwaterantwoord</f:translate></h4>
    <div class="pdc-content pdc-product pdc-product-detail-tab-8">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE_pdc"><lib:replaceContent searchExpression="{settings.replaceContent.headers.searchExpression}" wrapOrReplace="{settings.replaceContent.headers.wrap}">{product.deskMemo}</lib:replaceContent></f:format.html>
    </div>
    <h4><f:translate key="product_detail_tips">Gebruikersnotities</f:translate></h4>
    <ul>
        <f:if condition="{product.tips}">
            <f:for each="{product.tips}" as="tip">
                <li>
                    <f:format.date format="d-m-Y H:i">{tip.tstamp}</f:format.date> <f:translate key="product_detail_by">door</f:translate> {tip.creatorName}<br />
                    {tip.name}<br />
                    {tip.description}<br />
                    <f:link.action action="product_detail_editTip" arguments="{product: product, tip: tip}"><f:translate key="tip_edit">Bewerk</f:translate></f:link.action>
                    <f:link.action action="product_detail_removeTip" arguments="{product: product, tip: tip}"><f:translate key="tip_remove">Verwijder</f:translate></f:link.action>
                </li>
            </f:for>
        </f:if>
        <li class="new_product_tip">
            <f:link.action action="newTip" arguments="{product: product}">
                <f:translate key="product_detail_tip_new">Voeg een notitie toe</f:translate>
            </f:link.action>
        </li>
    </ul>
    <h5><f:translate key="product_detail_changes">Wijzigingen</f:translate></h5>
    <p><f:format.html>{product.changes}</f:format.html></p>
    <f:if condition="{product.responsibles}">
        <h5><f:translate key="product_detail_responsibles">Verantwoordelijken</f:translate></h5>
        <ul>
            <f:for each="{product.responsibles}" as="responsible">
                <li>
                    {responsible.name}
                </li>
            </f:for>
        </ul>
    </f:if>
    <f:if condition="{product.authorities}">
        <h5><f:translate key="product_detail_authorities">Groepen</f:translate></h5>
        <ul>
            <f:for each="{product.authorities}" as="authority">
                <li>
                    {authority.title}
                </li>
            </f:for>
        </ul>
    </f:if>
    <f:if condition="{product.synonyms}">
        <h5><f:translate key="product_detail_synonyms">Synoniemen</f:translate></h5>
        <ul>
            <f:for each="{product.synonyms}" as="synonym">
                <li>
                    {synonym.synonym}
                </li>
            </f:for>
        </ul>
    </f:if>
    <f:if condition="{product.keywords}">
        <h5><f:translate key="product_detail_keywords">Kernwoorden</f:translate></h5>
        <ul>
            <f:for each="{product.keywords}" as="keyword">
                <li>
                    {keyword.keyword}
                </li>
            </f:for>
        </ul>
    </f:if>
    <f:if condition="{product.directive}">
        <h5><f:translate key="product_detail_working_instructions">Werkinstructies</f:translate></h5>
        <p><a href="{product.directiveLinkUri}" title="{product.directiveLinkTitle}"><f:translate key="product_detail_viewWorkingInstructions">Bekijk werkinstructies</f:translate></a></p>
    </f:if>
    <f:if condition="{product.processDescription}">
        <h5><f:translate key="product_detail_process_description">Procesbeschrijving</f:translate></h5>
        <p><a href="{product.processDescriptionLinkUri}" title="{product.processDescriptionLinkTitle}">Bekijk <f:translate key="product_detail_viewProcessDescription">Bekijk procesbeschrijving</f:translate></a></p>
    </f:if>
</lib:tabControl.tab>
</lib:tabControl>

<f:if condition="{showRelatedFAQs}">
    <f:if condition="{answers}">
        <div class="pdc-subheader pdc-faq pdc-related-faqs">
            <f:translate key="product_detail_questions">Vragen</f:translate>
        </div>
        <f:if condition="{product.hasFrequentlyAskedQuestionInfo}">
            <div class="pdc-content pdc-faq">
                <f:format.html>{product.frequentlyAskedQuestionInfo}</f:format.html>
            </div>
        </f:if>
        <ul class="pdc-content pdc-faq pdc-related-faqs">
            <f:for each="{answers}" as="frequentlyAskedQuestionContainer">
                <f:for each="{frequentlyAskedQuestionContainer.frequentlyAskedQuestionChannels}" as="frequentlyAskedQuestion">
                    <li><f:link.action class="pdc-link-faq pdc-link" pageUid="{settings.pages.frequentlyAskedQuestionDetailPage}" arguments="{frequentlyAskedQuestion: frequentlyAskedQuestionContainer}">{frequentlyAskedQuestion.question}</f:link.action></li>
                </f:for>
            </f:for>
            <f:if condition="{hasMoreAnswers}">
                <li><f:link.action class="pdc-link-faq pdc-link" pageUid="{settings.pages.productDetailPage}" arguments="{product: product, showMore: 1}"><f:translate key="product_detail_more">Meer...</f:translate></f:link.action></li>
            </f:if>
        </ul>
    </f:if>
</f:if>

<f:if condition="{showRelatedProducts}">
    <f:if condition="{product.relatedProducts}">
        <div class="pdc-subheader pdc-faq pdc-related-products">
            <f:translate key="product_detail_see_also">Zie ook</f:translate>
        </div>
        <ul class="pdc-content pdc-product pdc-related-products">
            <f:for each="{product.relatedProducts}" as="relatedproduct">
                <li><f:link.action class="pdc-link-product pdc-link" action="detail" arguments="{product: relatedproduct}">{relatedproduct.name}</f:link.action></li>
            </f:for>
        </ul>
    </f:if>
</f:if>

<f:if condition="{showRelatedThemes}">
    <f:if condition="{product.tioThemes}">
        <div class="pdc-subheader pdc-theme pdc-related-themes">
            <p><f:translate key="product_detail_related_themes">Gerelateerde thema&#039;s:</f:translate></p>
        </div>
        <ul class="pdc-subheader pdc-faq pdc-related-subjects">
            <f:for each="{product.tioThemesWithName}" as="theme">
                <li class="pdc-product-theme">
                    <f:if condition="{settings.pages.themeDetailPage}">
                        <f:then>
                            <f:link.action class="pdc-link-theme pdc-link"  pageUid="{settings.pages.themeDetailPage}" extensionName="NcgovPdcx" pluginName="pi" controller="TioTheme" action="" arguments="{tioTheme: theme.urlName}"><f:translate key="tio_theme_{theme.id}">{theme.name}</f:translate></f:link.action>
                        </f:then>
                        <f:else>
                            <f:translate key="tio_theme_{theme.id}">{theme.name}</f:translate>
                        </f:else>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:if>

<div class="pdc-footer pdc-product pdc-product-detail-modified">
    <f:translate key="product_detail_modified">Bijgewerkt</f:translate>: <span class="pdc-footer-date pdc-faq"><f:format.date format="d-m-Y">{product.tstamp}</f:format.date></span>
</div>

</f:then>
<f:else>
    <f:translate key="product_detail_product_not_found">Product niet gevonden.</f:translate>
    <pdc:notFound />
</f:else>
</f:if>
